<form method="POST" action="/sign-up">
	<input type="text" name="username">
	<input type="text" name="email" placeholder="Email">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="confirm_password" placeholder="Confirm Password">

	<input type="submit">

</form>
