<a href="/signup"> 
  <div id="logbutton">
    Sign Up
  </div>
</a>
<div id="login">
  
    <form method="POST" action="/login">
      Log In<br>
    <input type="text" name="username">
      <br><br>
    <input type="password" name="password" placeholder="Password">
      <!-- <br><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password"> -->
      <br><br>

  <input type="submit">

  </form>
  <br>
</div>

<div class="notice"><%= flash[:notice] if flash[:notice] %>
</div>