<form method="POST" action="/login">
	<input type="text" name="username">
	<input type="password" name="password" placeholder="Password">
	<input type="password" name="confirm_password" placeholder="Confirm Password">

	<input type="submit">

</form>
