<p>
	<div id="landingform">

	<form>
		Username:
		<input type="text" name="username">
		<br><br>
		Password:
		<input type="text" name="password">
		<br><br>
		Confirm Password:
		<input type="text" name="confirm">
		<br><br>
		First Name:
		<input type="text" name="firstname">
		<br><br>
		Last Name:
		<input type="text" name="lastname">
		<br><br>
		Birthday:
		<input type="date" name="birthday">
		<br><br>
		<input type="submit">
	</form>

</div>
</p>