  <div id="landingform">

  <form method='POST' action='/signup'>
    Email:
    <input type="text" name="[user]email">
    <br><br>
    Username:
    <input type="text" name="[user]username">
    <br><br>
    Password:
    <input type="password" name="[user]password">
    <br><br>
    <input type="submit">
  </form>
</div>