body {
 font-family: 'Quicksand', sans-serif;
 font-size: 12px;
 color: #283B3F ;
 margin: 0px;
}

#total_wrapper {
 width: 1200px;
 margin: 0 auto;
}


/*LOGIN*/




/*LANDING*/
#page_wrapper {
  width: 1200px;
  height: 850px;
  margin: auto;
}

#post_wrapper {
  height: 100px;
  width: 580px;
  margin: auto;
  font: Bodoni MT W01 Book;
  background: lightblue;
}

#post_box {
  border: 1px red solid;
  width: 560px;
  height: 60px;
  resize: none;
  margin: 5px;
}

#button_format {


}


/*PROFILE*/




/*SIGNUP*/




/*FOOTER BELOW - DONT TOUCH!!*/


footer {
 display: inline-block;
 margin: 0 auto; 
 font-size: 18px;
 width: 100%;
 position: relative;
 bottom: 0%;
}

#contact_info {
 list-style: none;
 margin: 0px;
 position: relative;
 bottom: -10px;
 font-size: 14px;
 letter-spacing: 3px;
}

#facebook_link {
 float: right;
 position: relative;
 left: -40px;
 top: -35px;
 letter-spacing: 1px;
 text-decoration: none;
 color: #283B3F ;
}

#facebook_link:hover {
 text-decoration: underline;
}

p {
 line-height: 25px;
 text-align: justify;
 }

.spacer {
}